*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    position: relative;
	font-family: $font-family;
	font-weight: 400;
	// line-height: 28px;
	color: $body_color;
	font-size: 1.6rem;
	
    background: $primary;
    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .loader {
            width: 48px;
            height: 48px;
            border: 5px solid #FFF;
            border-bottom-color: transparent;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
            }
        
            @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
            } 
    }
    .hidden {
        display: none;
    }
    
    .main-container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 2rem 0rem;
        a {
            text-decoration: none;
            transition: .3s all ease;
            color: $dark;
            // text-decoration: underline;
            &:hover {
                color: $dark;
                text-decoration: none;
            }
            &.more {
                font-weight: 600;
            }
        }
        @media (max-width: 1024px) {
            padding: 2rem;
        }
    }
}


